mixin sHikeBlock(data)
	// start sHikeBlock
	+b.sHikeBlock.section#sHikeBlock&attributes(attributes)
		.container
			+e.row.row
				.col-lg-6
					+e.img-wrap
						.img-wrap-center
							+img('img/card-img-10.jpg')
				.col-lg-6
					+e.text Вы&nbsp;хотите пойти в&nbsp;поход но&nbsp;не&nbsp;знаете<br>с&nbsp;чего начать? Спросите нас, мы&nbsp;поможем вам подобрать идеальный вариант, исходя из&nbsp;ваших навыков. Поможем подобрать программу как для семьи так и&nbsp;для большой компанииДля оплаты товара, стоимость которого превышает номинал подарочной карты, покупатель без проблем может пополнить свою карту до&nbsp;нужной суммыПоможем подобрать программу как для семьи так и&nbsp;для большой компанииДля оплаты товара, стоимость которого превышает номинал подарочной карты, покупатель без проблем может пополнить свою карту до&nbsp;нужной суммы
					+e.btn.btn.btn-outline-primary.base-btn(href='#') Записаться
					+e.inner-row.row
						.col-lg-6
							+e.item
								h6 Что брать с собой
								p Вы&nbsp;хотите пойти в&nbsp;поход но&nbsp;не&nbsp;знаете<br>с&nbsp;чего начать? Спросите нас, мы&nbsp;поможем вам подобрать идеальный вариант, исходя из&nbsp;ваших навыков. Поможем подобрать программу как для семьи так и&nbsp;для большой компанииДля оплаты товара, стоимость которого превышает номинал подарочной карты, покупатель без проблем может пополнить свою карту до&nbsp;нужной суммыПоможем подобрать программу как для семьи так и&nbsp;для большой компанииДля оплаты товара, стоимость которого превышает номинал подарочной карты, покупатель без проблем может пополнить свою карту до&nbsp;нужной суммы
						.col-lg-6
							+e.item
								h6 Безопасность
								p Вы&nbsp;хотите пойти в&nbsp;поход но&nbsp;не&nbsp;знаете<br>с&nbsp;чего начать? Спросите нас, мы&nbsp;поможем вам подобрать идеальный вариант, исходя из&nbsp;ваших навыков. Поможем подобрать программу как для семьи так и&nbsp;для большой компанииДля оплаты товара, стоимость которого превышает номинал подарочной карты, покупатель
	// end sHikeBlock