mixin sAboutUsBlock(data)
	// start sAboutUsBlock
	+b.SECTION.sAboutUsBlock.section#sAboutUsBlock&attributes(attributes)
		+e.container.container
			img(src='img/svg/bg-line-6.svg').bg-line
			+e.row.row
				mixin advantages(num, text)
					+e.col.col-sm-6.col-lg-3
						+e.advantages
							span!= num
							p!= text
				+advantages('300', 'провели 300 походов с&nbsp;2010&nbsp;года. В&nbsp;25&nbsp;регионах нашей страны')
				+advantages('3000', '3000 человек оценили отдых в&nbsp;таких условиях как приятное время')
				+advantages('1000', '1000 человек ходит с&nbsp;нами регулярно где&nbsp;бы мы&nbsp;не&nbsp;собирались')
				+advantages('10', '10&nbsp;что то&nbsp;про детей в&nbsp;цифрах для наглядность отображения контента')
			+e.description
				.row
					.col-lg-6
						p Текст для основателя и&nbsp;идейного вдохновителя Спросите нас, мы&nbsp;поможем вам подобрать идеальный вариант, исходя из&nbsp;ваших навыков. Поможем подобрать программу как для семьи так и&nbsp;для большой компанииДля оплаты товара, стоимость которого превышает номинал подарочной карты, покупатель без проблем может поп
						+e.author Имя Фаимилия<br>Главный вдхновитель проекта
					.col-lg-6
						+img('img/sAboutUsBlock-img-1.jpg')
			+e.contanct-us
				.row
					.col-lg-6
						h5 Связаться с нами легко.
					.col-lg-6
						+e.item-wrap
							mixin item(title, text, href)
								+e.item
									+e.title!= title
									+e.text(href=href)!= text
							+item('E-mail:', 'sample@sample.com', 'mailto:sample@sample.com')
							+item('Телефон:', '8 978 569 88 99', 'tel:89785698899')
			+e.wrap
				h5 Вы хотите пойти в поход но не знаете 
				p с чего начать? Спросите нас, мы поможем вам подобрать идеальный вариант, исходя из ваших навыков. Поможем подобрать программу как для семьи так и для большой компанииДля оплаты товара, стоимость которого превышает номинал подарочной карты, покупатель без проблем может пополнить свою карту до нужной суммыПоможем подобрать программу как для семьи так и для большой компанииДля оплаты товара, стоимость которого превышает номинал подарочной карты, покупатель без проблем может пополнить свою карту до нужной суммыВы хотите пойти в поход но не знаете с чего начать? Спросите нас, мы поможем вам подобрать идеальный вариант, исходя из ваших навыков. Поможем подобрать программу как для семьи так и для большой компанииДля оплаты товара, стоимость которого превышает номинал подарочной карты, покупатель без проблем может пополнить свою карту до нужной суммыПоможем подобрать программу как для семьи так и для большой компанииДля оплаты товара, стоимость которого превышает номинал подарочной карты, покупатель без проблем может пополнить свою карту до нужной суммы
	// end sAboutUsBlock