mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock.bg-wrap&attributes(attributes)
		+e.img-wrap.picture-bg
			+img('img/headerBlock-bg.jpg', 'bg')
		+e.container.container
			+b.section-title
				h1 #[span.start Самые] интересные походы.<br>Максимум разнообразия #[span.end и увлечений]  
			+e.row.row
				.col-lg-6.ms-lg-auto
					+e.name Бронируйте<br>места
					p &laquo;В&nbsp;яркий путь&raquo;&nbsp;&mdash; это туристическо-патриотический клуб, который обучает навыкам выживания, развития самоорганизации, самодисциплины, расширения кругозора, познания в&nbsp;области географии и&nbsp;исторических аспектов нашей страны
	// end headerBlock