mixin sEducationalProgramsBlock(title='Образовательные программы')
	// start sEducationalProgramsBlock
	+b.SECTION.sEducationalProgramsBlock.section#sEducationalProgramsBlock&attributes(attributes)
		.container
			+b.section-title
				h2!= title
			+ddGroup
				block
	// end sEducationalProgramsBlock