extends ../layout/main.pug

include ../blocks/header/_header.pug
include ../blocks/topLine/_topLine.pug
include ../blocks/top-nav/_top-nav.pug 
include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/footer/_footer.pug

include ../blocks/sInfo/_sInfo.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sOurTrips/_sOurTrips.pug
include ../blocks/sEducationalProgramsBlock/_sEducationalProgramsBlock.pug
include ../blocks/sGalleryBlock/_sGalleryBlock.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= 'main.jpg'

block title
	- let  title= 'Главная'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+header().--light
		+top-nav('true')
	main
		+headerBlock 
		+sInfo
		+sForm
		+sOurTrips
		+sEducationalProgramsBlock
			+ddGroupItem('Заголовок для образовательной программы ')(data-aos="fade-up" data-aos-delay="0")
				+infoCard()
			+ddGroupItem('Заголовок для образовательной программы в одну или несколько строк для наглядности отображения')(data-aos="fade-up" data-aos-delay="0")
				+infoCard()
			+ddGroupItem('Заголовок для образовательной программы ')(data-aos="fade-up" data-aos-delay="0")
				+infoCard()
			+ddGroupItem('Готовка в полевых условиях', 'active')(data-aos="fade-up" data-aos-delay="0")
				+infoCard()
			+ddGroupItem('Образовательная программа')(data-aos="fade-up" data-aos-delay="0")
				+infoCard()
		+sGalleryBlock
	+footer()
      



