mixin sContent()
	// start sContent
	+b.SECTION.sContent.section#sContent&attributes(attributes)
		.container
			+e.row.row
				.col-lg-6(data-aos="fade-up" data-aos-delay="0")
					+e.img-wrap 
						.img-wrap-center
							+img('img/sContent-img-1.jpg', 'bg')
				.col-lg-6
					p(data-aos="fade-up" data-aos-delay="0") Вы&nbsp;хотите пойти в&nbsp;поход но&nbsp;не&nbsp;знаете<br>с&nbsp;чего начать? Спросите нас, мы&nbsp;поможем вам подобрать идеальный вариант, исходя из&nbsp;ваших навыков. Поможем подобрать программу как для семьи так и&nbsp;для большой компанииДля оплаты товара, стоимость которого превышает номинал подарочной карты, покупатель без проблем может пополнить свою карту до&nbsp;нужной суммыПоможем подобрать программу как для семьи так и&nbsp;для большой компанииДля оплаты товара, стоимость которого превышает номинал подарочной карты, покупатель без проблем может пополнить свою карту до&nbsp;нужной суммы
			+e.wrap(data-aos="fade-up" data-aos-delay="0")
				h5 Вы&nbsp;хотите пойти в&nbsp;поход но&nbsp;не&nbsp;знаете 
				p с&nbsp;чего начать? Спросите нас, мы&nbsp;поможем вам подобрать идеальный вариант, исходя из&nbsp;ваших навыков. Поможем подобрать программу как для семьи так и&nbsp;для большой компанииДля оплаты товара, стоимость которого превышает номинал подарочной карты, покупатель без проблем может пополнить свою карту до&nbsp;нужной суммыПоможем подобрать программу как для семьи так и&nbsp;для большой компанииДля оплаты товара, стоимость которого превышает номинал подарочной карты, покупатель без проблем может пополнить свою карту до&nbsp;нужной суммыВы хотите пойти в&nbsp;поход но&nbsp;не&nbsp;знаете с&nbsp;чего начать? Спросите нас, мы&nbsp;поможем вам подобрать идеальный вариант, исходя из&nbsp;ваших навыков. Поможем подобрать программу как для семьи так и&nbsp;для большой компанииДля оплаты товара, стоимость которого превышает номинал подарочной карты, покупатель без проблем может пополнить свою карту до&nbsp;нужной суммыПоможем подобрать программу как для семьи так и&nbsp;для большой компанииДля оплаты товара, стоимость которого превышает номинал подарочной карты, покупатель без проблем может пополнить свою карту до&nbsp;нужной суммы
				p Спросите нас, мы&nbsp;поможем вам подобрать идеальный вариант, исходя из&nbsp;ваших навыков. Поможем подобрать программу как для семьи так и&nbsp;для большой компанииДля оплаты товара, стоимость которого превышает номинал подарочной карты, покупатель без проблем может пополнить свою карту до&nbsp;нужной суммыПоможем подобрать программу как для семьи так и&nbsp;для большой компанииДля оплаты товара, стоимость которого превышает номинал подарочной карты, покупатель без проблем может пополнить свою карту до&nbsp;нужной суммы
			+e.inner-row.row(data-aos="fade-up" data-aos-delay="0")
				+e.col.col-lg-6.ms-lg-auto
					+e.text Текст для разбавления плитки и&nbsp;с&nbsp;призывом к&nbsp;дейсвию для наглядности отображения контента в&nbsp;одну или несколько строк. Пример отображения на&nbsp;странице во&nbsp;всю длину.
			+e.row.row
				.col-lg-6.order-lg-last
					+e.img-wrap(data-aos="fade-up" data-aos-delay="0")
						.img-wrap-center
							+img('img/sContent-img-2.jpg', 'bg')
				.col-lg-6
					+e.content(data-aos="fade-up" data-aos-delay="0")
						+e.headline В&nbsp;Яркий Путь&nbsp;&mdash; это отличная возможность выйти из&nbsp;дома и&nbsp;совместно провести время с&nbsp;близкими. Это возможность увидеть новые места, почувствовать дух природы и&nbsp;провести время в&nbsp;активном отдыхе
						+e.caption В&nbsp;Яркий Путь&nbsp;&mdash; это отличная возможность выйти из&nbsp;дома и&nbsp;совместно провести время с&nbsp;близкими. Это возможность увидеть новые места, почувствовать дух природы и&nbsp;провести время в&nbsp;активном отдыхе
			+e.row.row
				.col-lg-6
					+e.img-wrap(data-aos="fade-up" data-aos-delay="0")
						.img-wrap-center
							+img('img/sContent-img-3.jpg', 'bg')
				.col-lg-6
					+e.content(data-aos="fade-up" data-aos-delay="0")
						+e.headline В&nbsp;Яркий Путь&nbsp;&mdash; это отличная возможность выйти из&nbsp;дома и&nbsp;совместно провести время с&nbsp;близкими. Это возможность увидеть новые места, почувствовать дух природы и&nbsp;провести время в&nbsp;активном отдыхе
						+e.caption В&nbsp;Яркий Путь&nbsp;&mdash; это отличная возможность выйти из&nbsp;дома и&nbsp;совместно провести время с&nbsp;близкими. Это возможность увидеть новые места, почувствовать дух природы и&nbsp;провести время в&nbsp;активном отдыхе
	// end sContent