mixin sInfo(data)
	// start sInfo
	+b.sInfo.section#sInfo&attributes(attributes)
		+e.container.container
			+img('img/svg/bg-line-2.svg').line-1
			+img('img/svg/bg-line-3.svg').line-2
			+e.row.row
				.col-lg-6
					+img('img/sInfo-img.jpg')(data-aos="fade-up" data-aos-delay="0")
				.col-lg-6
					+e.title(data-aos="fade-up" data-aos-delay="0") В&nbsp;Яркий Путь&nbsp;&mdash; это отличная возможность выйти из&nbsp;дома и&nbsp;совместно провести время с&nbsp;близкими. Это возможность увидеть новые места, почувствовать дух природы и&nbsp;провести время в&nbsp;активном отдыхе
					p(data-aos="fade-up" data-aos-delay="0") В&nbsp;Яркий Путь&nbsp;&mdash; это отличная возможность выйти из&nbsp;дома и&nbsp;совместно провести время с&nbsp;близкими. Это возможность увидеть новые места, почувствовать дух природы и&nbsp;провести время в&nbsp;активном отдыхе
			+e.second-row.row
				.col-6.col-lg-3.order-lg-2
					+e.img-wrap(data-aos="fade-up" data-aos-delay="0")
						.img-wrap-center
							+img('img/sInfo-img-2.jpg', 'bg')
				.col-6.col-lg-3.order-lg-1
					+e.title(data-aos="fade-up" data-aos-delay="0") Научите детей жизни в&nbsp;гармонии с&nbsp;природой. Время, проведенное на&nbsp;открытом воздухе&nbsp;&mdash; это нечто незаменимое для детей. Это помогает развить их&nbsp;физическую силу и&nbsp;здоровье, а&nbsp;также поддерживает их&nbsp;эмоциональное и&nbsp;духовное здоровье. Семейные походы помогают детям расширить свои горизонты
					p(data-aos="fade-up" data-aos-delay="0") Семейные походы помогают детям расширить свои горизонты, развить любознательность и&nbsp;любовь к&nbsp;природе. А&nbsp;наши образовательные программы помогут закрепить полученный опыт и&nbsp;научат его применять в&nbsp;повседневной жизни
	// end sInfo