.top-nav {
	padding-top: rem(27);
	padding-bottom: rem(19);
	@include media-breakpoint-up(md) {
		padding-top: rem(27);
		padding-bottom: rem(27);
	}
	&__container {
		position: relative;
		.line {
			position: absolute;
			right: -100px;
    	top: -50px;
			display: none;
			pointer-events: none;
			z-index: -1;
			@include media-breakpoint-up(lg) {
				display: block;
			}
		}
	}
	&__row{
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: #{rem(29)};

	}
	&__col {
		@include media-breakpoint-down(lg) {
			padding: 0;
			margin: 0;
		}
	}
	&__logo {
		display: block;
		text-align: center;
		@include media-breakpoint-up(lg) {
			text-align: left;
			display: inline;
		}
		img {
			width: 100%;
			max-width: rem(110);
			@include media-breakpoint-up(lg) {
				max-width: rem(60);
			}
		}
	}
	&__btn {
		--bs-btn-padding-x: #{rem(10)};
		--bs-btn-padding-y: #{rem(10)};

		--bs-btn-hover-color: #fff;
		--bs-btn-active-color: #fff;
		--bs-btn-hover-border-color: #fff;
		--bs-btn-active-border-color: #fff;
		--bgColor: #{$gray-200};
	}
	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {}

	@include media-breakpoint-up(xs) {}

	// 
	@include media-breakpoint-between(md, xl) {}

	// 
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	// 
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}
}


