mixin sEducationalPrograms(data)
	// start sEducationalPrograms
	+b.sEducationalPrograms.section#sEducationalPrograms&attributes(attributes)
		.container
			+e.wrap
				+infoCard('Образовательная программа')
				+infoCard('Образовательная программа', 'info-card-img-2.jpg')
				+infoCard('Образовательная программа', 'sGalleryBlock-img-1.jpg')
				+infoCard('Образовательная программа', 'info-card-img-3.jpg')
				+infoCard('Образовательная программа')
	// end sEducationalPrograms