 
	  
.soc{
	@include roww(10px, m);
	display: flex;
	&__item{
		text-decoration: none !important; 
		vertical-align: middle;
		@include mt;
		display: grid;
		place-items: center;
		&:hover{
		 	// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			// opacity: .6 ;
		}
		
	}
	.icon{
		font-size: rem(30);
	}


}


.counter{
	counter-reset: num;
	&__item {
		position: relative; 
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}




.addBlock{
	color: var(--color, #{$primary});
	border: 1px solid;
	border-radius: 23px;
	display: flex;
	position: relative;
	overflow: hidden;
	input{
		color: inherit;
		text-align: center;
		border: none;
		height: rem(45);
	}
	&__btn{
		color: inherit;
		height: rem(45);
		position: relative;
		border-radius: 23px;
		background: none !important;
		border: none !important;
		box-shadow: none !important;
		outline: none !important;
		background: transparent;
		// padding-left: rem(8);
		// padding-right: rem(8);
		width: rem(26);
		&::before,
		&::after{
			content: '';
			width: 10px;
			height: 2px; 
			background-color: currentColor;
			@include a-cent;
			position: absolute;
		}
		&--plus::after{
			transform: rotate(90deg);
		}
	}
}


.search-block{
	position: relative;
	input{
		font-size: 14px;
		width: 100%;
		border: none !important;
		outline: none !important;
		padding-left: rem(30);
		padding-top: rem(14);
		padding-bottom: rem(14);
	}
	.icon{
		font-size: rem(20);
		border: none !important;
	}
	button{
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background: none !important;
		border: none !important;
	}
}

.breadcrumb-item{
	width: auto;
	margin-right: rem(32);
}

.base-btn {
	position: relative;
	z-index: 1;
	padding-right: rem(20);
	&:before {
		@include mt(.18s);
		content: '';
		position: absolute;
		display: block;
		background-color: var(--bgColor, var(--bs-btn-border-color));
		padding-right: rem(10);
		width: calc(100% - 9px);
		height: calc(100% + 2px);
		left: -1px;
		top: -1px;
		z-index: -1;
		border-radius: 8px;
	}
	&:hover {
		background-color: transparent;
		&:before {
			width: calc(100% + 1px);
		}
	}
}

.swiper-button-hand {
	--swiperArrowSize: #{rem(32)};
	--swiperBorderColorDef: #fff;
	--swiperColorDef: #fff;
	--swiperBgDef: transparent;

	position: static;
	box-shadow: none;
	.icon {
		font-size: rem(16);
		fill: none;
		stroke: currentColor;
		stroke-width: 2px;
	}
	&-prev {
		margin-right: rem(22);
	}
}

.dd-group {
	border-top: 1px solid $primary;
	&__item {
		transition: all var(--s) ease-in-out !important;
		border-bottom: 1px solid $primary;
		padding-top: rem(20);
		padding-bottom: rem(20);
		@include media-breakpoint-up(md) {
			padding-left: rem(20);
			padding-right: rem(20);
		}
		&.active {
			.dd-group__head {
				padding-top: rem(20);
				&::before {
					transform: translateY(-50%) rotate(-90deg);
				}
			}
		}
	}
	&__head {
		@include mt;
		position: relative;
		padding-right: rem(32);
		transition: all var(--s) ease-in-out!important;
		cursor: pointer;
		h6 {
			color: $primary;
			margin-bottom: rem(10);
			line-height: 0.968em;
			max-width: rem(638);
			@include media-breakpoint-down(md) {
				font-size: rem(18);
			}
		}
		p {
			color: $gray-800;
			margin-bottom: 0;
			font-size: rem(11);
			font-weight: 600;
			line-height: 1.18em;
			max-width: rem(638);
		}
		&::before {
			@include mt;
			content: '';
			position: absolute;
			display: block;
			width: rem(32);
			height: rem(32);
			background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.3333 16H20.6666' stroke='%23814500' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16.6667 20L20.6667 16' stroke='%23814500' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16.6667 12L20.6667 16' stroke='%23814500' stroke-linecap='round' stroke-linejoin='round'/%3E%3Crect x='0.5' y='0.5' width='31' height='31' rx='15.5' stroke='%23814500'/%3E%3C/svg%3E%0A");
			background-size: rem(32);
			background-position: center;
			background-repeat: no-repeat;
			top: 50%;
			transform: translateY(-50%);
			right: 0;
		}
	}
	&__content {
		padding-top: rem(10);
		padding-bottom: rem(20);
		display: none;
		&.active {
			display: block;
		}
	}
}

.info-card {
	.row {
		--bs-gutter-y: #{rem(20)};
	}
	img {
		width: 100%;
		max-width: rem(434);
		height: auto;
		border-radius: 15px;
		object-fit: cover;
	}
	&__wrap {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	p {
		color: $gray-800;
		line-height: 1.3em;
		margin-bottom: rem(20);
		max-width: rem(539);
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(36);
		}
	}
	&__btn {
		--bs-btn-padding-y: #{rem(9)};
		--bgColor: #{$primary};
		--bs-btn-color: #fff;

		width: 100%;
		margin-top: auto;
		@include media-breakpoint-up(md) {
			max-width: rem(218);
		}
	}
	.h6 {
		color: $primary;
		margin-bottom: rem(10);
		line-height: 0.968em;
		max-width: rem(638);
		@include media-breakpoint-down(md) {
			font-size: rem(18);
		}
	}
	&__text {
		color: $gray-800;
		margin-bottom: rem(10);
		font-size: rem(11);
		font-weight: 600;
		line-height: 1.18em;
		max-width: rem(638);
	}
	&__img-wrap {
		@include block(434,188);
		width: 100%;
		max-width: rem(434);
	}
}

.card {
	@include block(1,1);
	border-radius: 24px;
	overflow: hidden;
	&:hover {
		.card__text-wrap {
			flex-grow: 1;
			max-height: 100%;
			opacity: 1;
			pointer-events: all;
		}
		.card__wrap {
			&:after {
				opacity: 1;
			}
		}
		&:after {
			opacity: 0;
		}
	}
	&:after {
		@include mt;
		content: '';
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
		z-index: -1;
	}
	&__wrap {
		padding: rem(20);
		display: flex;
		justify-content: flex-end;
		position: absolute;
		flex-direction: column;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		&:after {
			@include mt;
			content: '';
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			background-image: linear-gradient(0deg, rgba(129, 69, 0, 0.9), rgba(129, 69, 0, 0.9));
			z-index: -1;
			opacity: 0;
		}
		.h6 {
			color: #fff;
			margin-bottom: rem(10);
			line-height: 0.968em;
			max-width: rem(217);
		}
	}
	&__text-wrap {
		@include mt();
		max-height: 0;
		opacity: 0;
		pointer-events: none;
		p {
			margin-bottom: 0;
			color: $gray-100;
		}
	}
	&__date {
		font-size: rem(11);
		font-weight: 600;
		color: $gray-300;
	}
	&__count {
		display: flex;
		align-items: center;
		color: $gray-300;
		font-size: rem(11);
		font-weight: 600;
		line-height: 1.18em;
		.icon {
			flex: 0 0 auto;
			font-size: rem(16);
			color: #fff;
			margin-right: rem(5);
			fill: none;
			stroke: currentColor;
			stroke-width: 2px;
		}
	}
}

.page-head {
	position: relative;
	padding-top: rem(25);
	padding-bottom: rem(25);
	@include media-breakpoint-up(lg) {
		padding-top: rem(37);
		padding-bottom: rem(26.500);
	}
	.line-bg {
		position: absolute;
		right: -120px;
    top: -60px;
		display: none;
		@include media-breakpoint-up(xl) {
			display: block;
		}
	}
	h1 {
		margin-bottom: 0;
		line-height: 0.968em;
		color: $gray-800;
	}
	&__custom-title {
		span {
			&.text {
				@include media-breakpoint-up(xl) {
					display: block;
					max-width: max-content;
					margin-left: auto;
					margin-right: 80px;
				}
			}
			&.text2 {
				@include media-breakpoint-up(xl) {
					display: block;
					max-width: max-content;
					margin-left: auto;
				}
				span.img img {
					right: rem(-80);
    			top: rem(-50);
					@include media-breakpoint-up(xxl) {
						right: rem(-146);
					}
				}
			}
			&.img {
				color: $secondary;
				position: relative;
				&:hover {
					img {
						opacity: 1;
					}
				}
				img {
					// @include mt;
					width: rem(356);
					height: rem(272);
					object-fit: cover;
					// right: rem(48);
    			// top: rem(-180);
					top: 0;
					left: 0;
					border-radius: 121px;
					pointer-events: none;
					opacity: 0;
					display: none;
					transform: translate3d(var(--x,0),var(--y,0),0);
					position: fixed;
					@include media-breakpoint-up(xl) {
						display: block;
					}
				}
			}
		}
	}
}

.inner-page-head {
	padding-top: rem(18);
	padding-bottom: rem(17.5);
	&__back-btn {
		color: $primary;
		margin-bottom: rem(20);
		display: inline-block;
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(35);
		}
		.icon {
			fill: none;
			stroke: currentColor;
			stroke-width: 2px;
			font-size: rem(51);
		}
	}
	h1 {
		margin-bottom: 0;
		@include media-breakpoint-down(sm) {
			font-size: rem(30);
		}
	}
}

.info {
	--bs-gutter-y: #{rem(20)};
	margin-top: calc(var(--bs-gutter-y) * -1);
	&__info-item {
		margin-top: var(--bs-gutter-y);
	}
	&__title {
		font-size: rem(11);
		font-weight: 600;
		color: rgba($color: $gray-800, $alpha: .5);
		margin-bottom: rem(8);
		line-height: 1.18em;
	}
	&__text {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		font-size: rem(18);
		color: $gray-800;
		line-height: 1.22em;
		.icon {
			flex: 0 0 auto;
			fill: none;
			stroke: currentColor;
			stroke-width: 2px;
			font-size: rem(12);
			margin-right: rem(5);
		}
		span {
			color: $gray-200;
		}
	}
}