
// start .header
.header {
	&--light {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		.top-nav {
			.menu {
				&-item {
					a {
						// color: #fff;
						@include media-breakpoint-up(lg) {
							color: #fff;
						}
						&:hover {
							color: $gray-200;
						}
					}
				}
			}
			&__container {
				.line {
					@include media-breakpoint-up(lg) {
						display: none;
					}
				}
			}
			&__logo {
				position: relative;
				z-index: 10;
			}
			&__btn {
				--bs-btn-color: #000;
				--bs-btn-hover-color: #000;
				--bs-btn-active-color: #000;
				--bs-btn-hover-border-color: #fff;
				--bs-btn-active-border-color: #fff;
				--bgColor: #fff;

				position: relative;
				z-index: 10;
			}
		}
		.toggle-menu-mobile {
			--color: #fff;

			position: relative;
			z-index: 10;
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-up(xs) {}
	
	//
	@include media-breakpoint-between(md, xl) { }
	
	
	//
	@include media-breakpoint-only(xs) {}
	@include media-breakpoint-only(sm) {}
	@include media-breakpoint-only(md) {}
	@include media-breakpoint-only(lg) {}
	@include media-breakpoint-only(xl) {}
	
	//
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg) {}
	@include media-breakpoint-down(md) {}
	@include media-breakpoint-down(sm) {}
	@include media-breakpoint-down(xs) {} 

} // end.header