// start .sCampaign
.sCampaign {
	--sPT: #{rem(0)};
	--sPB: #{rem(60)};
	// --sTPB: #{rem()};
	@include media-breakpoint-up(lg) {
		--sPB: #{rem(120)};
	}
	&__row {
		margin-bottom: rem(20);
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(30);
		}
	}
	
	&__col {
	}
	&__link {
		font-weight: 700;
		position: relative;
		cursor: pointer;
		@include mt;
		border-bottom: 1px solid transparent; 
		&:hover, &.active {
			border-color: $primary;
		}
	}
	&__col input{
		@extend .invisible;
	}
	input:checked + &__link{
		border-color: $primary;
	}
	&__grid {
		display: grid;
		// grid-template-columns: 1fr;
		grid-column-gap: rem(8);
		grid-row-gap: rem(8);
		@include media-breakpoint-up(xl) {
		}
		grid-template-columns: repeat(12, 1fr);
	}
	&__text-wrap{
		grid-column: 1 / 13 ;
		@include media-breakpoint-up(xl){
			grid-row: 5;
		}
		grid-row: 4;
	}
	&__grid-item {
		&.last-item{
			display: none;
			visibility: hidden;
		}

		@include media-breakpoint-up(xl) {
			--large-item: 6;
			--sm-item: 3;
		}
		@include media-breakpoint-only(lg) {
			--large-item: 8;
			--sm-item: 4;
		}
		@include media-breakpoint-between(sm,lg) {
			--large-item: 12;
			--sm-item: 6;
		}
		--sm-item: 12;
		grid-column: span var(--sm-item);
		
		@include media-breakpoint-between(sm,lg) {
			&:nth-child(10n +  2),
				&:nth-child(10n + 7) {
					grid-row: span 2;
					grid-column: var(--large-item) span;
			}
		}
		@include media-breakpoint-only(lg) {
			&:nth-child(15n +  2),
				&:nth-child(15n + 9) {
					grid-row: span 2;
					grid-column: var(--large-item) span;
			}
		}

		@include media-breakpoint-up(xl) {
			&:nth-child(10n +  2),
				&:nth-child(10n + 9) {
					grid-row: span 2;
					grid-column: var(--large-item) span;
			}
		}
		
	}
	&__text {
		font-size: rem(18);
		font-weight: 600;
		line-height: 1.2em;
		padding: rem(30) 0;
		@include media-breakpoint-up(lg) {
			font-size: rem(24);
			padding: rem(61) 0;
			max-width: rem(591);
		}
	}
	&__btn {
		--bs-btn-hover-color: #{$gray-900};
		--bs-btn-active-color: #{$gray-900};
		--bs-btn-padding-y: #{rem(20)};
		--bgColor: transparent;

		width: 100%;
		margin-top: rem(30);
		&:not(:hover) {
			background-color: $gray-100;
		}
		&:before {
			border-right: 1px solid $primary;
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sCampaign